__pycache__/
*.py[c]
*$py.class

.vs/
.vscode/

*.blend[1,2,3,4,5,6,7,8,9]

lib/bhqglsl/*.glsl
!lib/bhqglsl/constants.glsl
!lib/bhqglsl/mask_fragment_stage.glsl

lib/bhqupd/cache/*

manual_map.py

!.gitkeep
